{% extends '/bundles/lincko/ppt/templates/base.twig' %}
{% block frame %}
	<div id="begin_ppt_stats_questions" class="visibility_hidden">
		<link rel="stylesheet" href="{{ _filelatest('/lincko/ppt/styles/ppt/stats/questions.css') }}" type="text/css" />
		<style type="text/css">
			#ppt_stats_questions_correct {
				height: {{ data_correct }}%;
			}
			#ppt_stats_questions_not_correct {
				height: {{ data_not_correct }}%;
			}
		</style>
		<script type="text/javascript">
			var ppt_stats_questions_url = "/ppt/statsjs/{{ data_questionid_enc }}.js";
			{% if data_preview %}
				ppt_stats_questions_url += '?preview=1';
			{% endif %}
			var ppt_stats_questions_refresh = function(){
				$.getScript(ppt_stats_questions_url, function(){
					if(
						   typeof statsjs_data_participants != 'undefined'
						&& typeof statsjs_data_correct != 'undefined'
						&& typeof statsjs_data_not_correct != 'undefined'
					){
						$("#ppt_stats_questions_participants_nbr").html(statsjs_data_participants);
						$("#ppt_stats_questions_number_correct").html(statsjs_data_correct+"%");
						$("#ppt_stats_questions_number_not_correct").html(statsjs_data_not_correct+"%");
						$("#ppt_stats_questions_correct").stop(true).animate({height: statsjs_data_correct+"%"}, 1000);
						$("#ppt_stats_questions_not_correct").stop(true).animate({height: statsjs_data_not_correct+"%"}, 1000);
					}
				});
			};
		</script>
	</div>

	<div id="ppt_stats_questions_participants" title="{{ _trans('ppt', 0, 5, 'html') }}{# answers #}"><span id="ppt_stats_questions_participants_nbr">{{ data_participants }}</span> <span>{{ _trans('ppt', 0, 5, 'html') }}{# answers #}<span></div>

	<div id="ppt_stats_questions_wrapper">
		<div id="ppt_stats_questions_correct">
			<div id="ppt_stats_questions_number_correct" class="ppt_stats_questions_number">{{ data_correct }}%</div>
			<div class="ppt_stats_questions_check fa fa-check"></div>
		</div>
		<div id="ppt_stats_questions_not_correct">
			<div id="ppt_stats_questions_number_not_correct" class="ppt_stats_questions_number">{{ data_not_correct }}%</div>
		</div>
	</div>

	<div id="end_ppt_stats_questions" class="visibility_hidden">
		<script type="text/javascript">
			{% if get_refresh %}
				$("#ppt_stats_questions_participants_nbr").html(0);
				$("#ppt_stats_questions_number_correct").html("");
				$("#ppt_stats_questions_number_not_correct").html("");
				$("#ppt_stats_questions_correct").css('height', "0%");
				$("#ppt_stats_questions_not_correct").css('height', "0%");
				ppt_stats_questions_refresh();
				setInterval(ppt_stats_questions_refresh, 2500);
			{% else %}
				ppt_stats_questions_refresh();
				setInterval(ppt_stats_questions_refresh, 2500);
			{% endif %}
		</script>
	</div>
{% endblock %}

